body {
    background-color: #EFF1F8;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
  
@font-face{
    font-family: Montserrat;
    src: url(../assets/font/montserrat-regular.woff);
}

.container{
    width: 70%;
    margin: auto;
    display: inline-block;
}
.form{
    padding-left: 250px;
    /* text-align: center; */
    font-size: 20px;
}


h1{
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: bolder;
}
h2{
    padding-left: 38px;
}

ul.list{
    list-style-type: none;
    text-align: center;
    margin-right: 6%;
}
ul.list li{
    margin-bottom: 10px;
    font-size: 10px;
}
button{
    width: 100px;
    height: 60px;
}

.button1:hover {
    background-color: #7FFF00;
}

.button2:hover {
    background-color: #00B4AB;
}
.button3:hover {
    background-color: #FFD832;
}
.button4:hover {
    background-color: red;
}

img{
    width: 50%;
    height: 50%;
}

ul.list li input{
    width: 65%;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

ul.list li h2{
    font-size: 20px;
    margin-bottom: 8%;
}

ul.list li input[type="button"]{
    background-color: #687089;
    color: white;
    font-weight: bold;
    width: 40%;
    border-radius: 15px;
    padding-right: 20px;
    position: fixed;
    bottom: 20%;
    left: 30%;
    
}


ul.list li input[type="button"]:hover {background-color: #0375fb;}
